extends ../layouts/LayoutTheme
include ../mixins/pages/Contact.pug


block beforeMainContent
  +FancyNav
  
prepend scripts
  - const mapKey = 'AIzaSyAbVAL0cIflTu7AgqklbaWacRPBx7tfsD0'
  script(src!=`https://maps.googleapis.com/maps/api/js?key=${mapKey}&callback=initMap` async)

append mainContent  
  +Contact
  
